<% content_for :title, "Edit Company Profile" %>

<h1>Edit Company Profile</h1>
<p style="margin-top:0;">Keep this up to date for professional invoices and reports.</p>

<%= render "form" %>

<div style="margin-top:14px;">
  <%= link_to "Back", company_profile_path %>
</div>
